# Binaries
main
*.exe
*.dll

# Logs
*.log
nohup.out

# Databases
*.db
*.sqlite

# Secrets
vpn.secrets
.env

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Testing
mikromon_debug.db
paramiko_debug.log
server.log
