[Unit]
Description=MikroMon Dashboard Backend
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/html/mikromon
ExecStart=/var/www/html/mikromon/mikromon
Restart=always
RestartSec=5
Environment=PORT=8080

[Install]
WantedBy=multi-user.target
